*{
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&display=swap');
}
.App {
  margin-left: 38%;
  width: fit-content;
  text-align: center;
  font-family: 'Caveat', cursive;
  
}

.App input{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-family: 'Caveat', cursive;
}

 
.add{
  padding: 8px 20px;
  border-radius: 10px;
  color: green;
  font-weight: bold;
  font-family: 'Caveat', cursive;
}

.del{
  padding: 5px 3px;
  border-radius: 6px;
  margin: 10px;
  color: red;
  font-weight: bold;
  font-family: 'Caveat', cursive;
}
.del:hover{
  cursor: pointer;
  background-color: red;
  color: white;
  
 }
.add:hover{
  cursor: pointer;
  background-color: green;
  color: white;
}
 
 